
/* @import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap'); */

h1 {
    color: black;
    position: relative;
    top: 80px;
    left: 71px;
}
body{
    margin: 100px;
    background: #eee;

}

.row{
    margin-top: 100px !important;
}

/* card-n */
.card-n {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    position: relative;
    perspective: 1400px;
    top: 0;
    transition: all 1s;
   
}

/* left-card-n */
.left-card-n {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.1);
    z-index: 1;

    transition: transform 1s;
    transform-style: preserve-3d;
    transform-origin: 0 0;
}

.left-card-n img {
    width: 100%;
}

.left-card-n .card-n-front,
.left-card-n .card-n-back {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    backface-visibility: hidden;
}

.left-card-n .card-n-back {
    background: #f4f4f4;
   /*  transform: rotateY(180deg); */
    transform: rotateX(180deg);

}

/* open-n card-n */
.card-n.open-n .left-card-n {
    /* transform: rotateY(-180deg); */
    transform: rotateX(180deg)
}

.card-n.open-n {
    top: 220px;
}

/* right card-n */
.right-card-n {
    width: 100%;
    height: 100%;
    background: #fff;
    text-align: center;
    padding: 30px;
    box-sizing: border-box;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    color: #444;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0; /* Eje z: va hacia adelante */
}

.right-card-n 
h2 {
    color: black;
    font-size: 13px;
    font-family: 'Handlee', sans-serif !important;

}

i {
    color: black;
    font-size: 22px;
    font-weight: bold;
    font-family: 'Handlee', Sans-Serif;
}

#regalo {
    width: 10px;
    height: auto;
}